
h1 {
  font-size: 2em;
  text-align: center;
}
.mainapp{
 margin: auto;
  width: 50%;

  padding: 10px;
}
.formapp{

   margin: 30px;
   margin-top: 20px;
  

  padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;

   
}
.select{
    width: 100%;
}
.form-control{
    margin-top: 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}